Cython==0.29.7
pyOpenSSL==19.0.0
cryptography==3.3.2
protobuf==3.7.1
hvac==0.8.2
ipaddr==2.2.0
lxml==4.6.3
mock==3.0.4
numpy==1.16.3
ordereddict==1.1
simplejson==3.16.0
usercustomize==1.0.0
wincertstore==0.2
